
@{
}



@model DocLink.Models.Appointment 

@{
    ViewData["Title"] = "Book Appointment";
}

<h2 class="text-2xl font-semibold mb-4">Book Appointment with @ViewBag.Doctor.FullName</h2>

<form method="post" action="@Url.Action("CreateAppointment", "Patient")">
    <input type="hidden" name="DoctorId" value="@ViewBag.Doctor.Id" />

    <div class="mb-4">
        <label for="subject" class="block text-lg">Subject:</label>
        <input type="text" id="subject" name="Subject" required class="border border-gray-400 rounded-md p-2 w-full" />
    </div>

    <div class="mb-4">
        <label for="date" class="block text-lg">Date:</label>
        <input type="date" id="date" name="Date" required class="border border-gray-400 rounded-md p-2 w-full" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

   <div class="mb-4">
        <label for="time" class="block text-lg">Time:</label>
        <input type="time" id="time" name="Time" required class="border border-gray-400 rounded-md p-2 w-full" />
    </div>
  

    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-colors duration-200">Submit</button>
</form>
