@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model DocLink.ViewModel.ScheduleAppointmentViewModel

<form asp-action="SearchAppointments" method="post">
    <div>
        <label>Select Hospital:</label>
        <select asp-for="HospitalId" asp-items="ViewBag.Hospitals"></select>
    </div>

    <div>
        <label>Select Doctor:</label>
        <select asp-for="DoctorId" asp-items="ViewBag.Doctors"></select>
    </div>

    <button type="submit">Search</button>
</form>



