@{
    ViewData["Title"] = "Home Page";
}

<div>
    @* <h1 class="text-5xl text-center"> *@
    @*     Welcome to DocLink *@
    @* </h1> *@
    <div class="w-[400px]">
        <img src="images/doclink.png" alt="logo"/>
    </div>
</div>
